.KegList {
  
  font-family: Arial, Helvetica, sans-serif;
  font-size: 10pt;

  button {
    padding: 3px 10px 3px 10px;
    box-shadow: 1px 1px 1px 1px lightgray;
  }

  label {
    color: orange;
  }

  summary {
    cursor: pointer;
    user-select: none;
  }

  .within-details {
    margin-left: 20px;
  }

  .keg-name {
    font-size: 12pt;
  }

  .keg-price {
    color: darkgreen;
  }

  .flexbox {
    display: flex;
    flex-wrap: wrap;
  }

  .add-keg-outer {
    position: relative;
  }

  .add-keg-inner {
    position: absolute;
    right: 0;
  }

  .warning {
    color: red;
    margin-left: 10px;
  }
  
}