.KegList {
  
  font-size: 10pt;

  button {
    padding: 3px 10px 3px 10px;
    box-shadow: 1px 1px 2px 1px #CCCCCC;
    border-radius: 5px;
    border: none;
    background: white;
    margin-right: 5px;
  }

  label {
    color: orange;
  }

  summary {
    cursor: pointer;
    user-select: none;
  }

  .keg-name {
    font-size: 12pt;
  }

  .keg-price {
    color: darkgreen;
  }

  .flexbox {
    display: flex;
    flex-wrap: wrap;
  }

  .warning {
    color: red;
    margin-left: 10px;
  }

  .add-keg-outer {
    cursor: pointer;
    user-select: none;
  }

  .add-keg-inner {
    color: gray;
    font-size: 30pt;
    font-weight: 100;
  }

  .add-keg-inner:hover {
    color: black;
  }
  
}