.App {

  .appgrid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 8fr;
    grid-gap: 20px;
    height: calc(100vh - 46px);
    width: calc(100vw - 46px);
    padding: 15px;
  }

  .header {
    grid-area: 1 / 1 / 1 / 2;
  }

  .keg-list {
    grid-area: 2 / 1 / 2 / 2;
  }

}